<div class="about">
  <div class="about-header">
    <h1>About:</h1>
  </div>
  <img src="/images/about3.jpg" alt="" />
  <div class="txt">
    <p>
      We Are AngelusDirect <br />Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Aut nobis at placeat ut aliquam incidunt totam labore,
      neque ab iusto odit quo in alias distinctio, soluta reiciendis enim quod
      blanditiis. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Obcaecati quasi, voluptatem nesciunt mollitia dolor doloribus enim sed
      fugit possimus autem consequatur aperiam, quae laborum dolorem quisquam
      non suscipit quidem Lorem ipsum dolor sit, amet consectetur adipisicing
      elit. Beatae, quae! Hic, quos temporibus qui aliquid inventore aspernatur
      alias eaque illum, perspiciatis voluptas quasi. Vero esse tempore sint est
      in vitae.
    </p>
  </div>
</div>
