<section id="cleaner" class="cleaner">
  <div class="cleaner-header">
    <h1>Cleaner:</h1>
  </div>
  <div class="cleaner-cont">
    <div class="easy">
      <h1>Easy Clean</h1>
      <p>From $2.95</p>
      <a href="#" class="site-button">Add To Cart</a>
    </div>
    <div class="foam">
      <h1>Foam Clean</h1>
      <p>From $2.95</p>
      <a href="#" class="site-button">Add To Cart</a>
    </div>
    <div class="brush">
      <h1>Brush</h1>
      <p>From $2.95</p>
      <a href="#" class="site-button">Add To Cart</a>
    </div>
    <div class="sole">
      <h1>Sole bright</h1>
      <p>From $2.95</p>
      <a href="#" class="site-button">Add To Cart</a>
    </div>
    <div class="br-clean">
      <h1>Brush Clean</h1>
      <p>From $2.95</p>
      <a href="#" class="site-button">Add To Cart</a>
    </div>
  </div>
</section>
