<section id="hero"class="hero">
    <div class="hero-txt">
      <h1>12 Color Paint Kit</h1>
      <p>Choose your own colors!</p>
      <a href="#paint" class="head-button">BUY NOW</a>
      <div class="news">
        <h2>
          Check out our new tutorial videos, and learn to paint like a pro!
        </h2>
        <a href="#tutorials" class="hero-button">Click here</a>

        </div>
      </div>
    </div>
    <div class="hero-img">
        <div class="discount">
            <div class="ship">
              <h2>Show us your work for a chance at being featured on our social media!</h2>
              <a href="https://www.instagram.com/angelusdirect/" class="hero-button">Submit Here</a>

    
            </div>
            <div class="promo">
              <h2>Use Code: Spooky for 20% Off
                Free Shipping on orders over $50.
              </h2>
              <a href="#paint" class="hero-button">Shop Now</a>
              
            </div>
          </div>
    </div>
    
  </section>
