<section id="paint-pro" class="paint-pro">
  <div id="paint" class="paint">
    <div class="paint-header">
      <h1>Paint:</h1>
    </div>

    <div class="paint-cont">
      <div class="black">
        <h1>Black</h1>
        <div class="info">
          <p>From $2.95</p>
          <a href="#" class="site-button">Add To Cart</a>
        </div>
      </div>
      <div class="white">
        <h1>White</h1>
        <p>From $2.95</p>
        <a href="#" class="site-button">Add To Cart</a>
      </div>
      <div class="red">
        <h1>Chilli Red</h1>
        <p>From $2.95</p>
        <a href="#" class="site-button">Add To Cart</a>
      </div>
      <div class="blue">
        <h1>Royal Blue</h1>
        <p>From $2.95</p>
        <a href="#" class="site-button">Add To Cart</a>
      </div>
      <div class="green">
        <h1>Green</h1>
        <p>From $2.95</p>
        <a href="#" class="site-button">Add To Cart</a>
      </div>
      <div class="yellow">
        <h1>Yellow</h1>
        <p>From $2.95</p>
        <a href="#" class="site-button">Add To Cart</a>
      </div>
      <div class="purple">
        <h1>Purple</h1>
        <p>From $2.95</p>
        <a href="#" class="site-button">Add To Cart</a>
      </div>
      <div class="orange">
        <h1>Orange</h1>
        <p>From $2.95</p>
        <a href="#" class="site-button">Add To Cart</a>
      </div>
      <div class="grey">
        <h1>Grey</h1>
        <p>From $2.95</p>
        <a href="#" class="site-button">Add To Cart</a>
      </div>
      <div class="vice">
        <h1>Miami</h1>
        <p>From $2.95</p>
        <a href="#" class="site-button">Add To Cart</a>
      </div>
      <div class="maroon">
        <h1>Maroon</h1>
        <p>From $2.95</p>
        <a href="#" class="site-button">Add To Cart</a>
      </div>
      <div class="pink">
        <h1>Pink</h1>
        <p>From $2.95</p>
        <a href="#" class="site-button">Add To Cart</a>
      </div>
      <div class="gold">
        <h1>Gold</h1>
        <p>From $2.95</p>
        <a href="#" class="site-button">Add To Cart</a>
      </div>
      <div class="rose">
        <h1>Rose</h1>
        <p>From $2.95</p>
        <a href="#" class="site-button">Add To Cart</a>
      </div>
      <div class="silver">
        <h1>Silver</h1>
        <p>From $2.95</p>
        <a href="#" class="site-button">Add To Cart</a>
      </div>
    </div>
  </div>
</section>
