<section id="tutorials" class="tutorials">
  <div class="tut-head">
    <h1>Turtorial Videos</h1>
  </div>
  <div class="tut-vid">
    <iframe
      width="400"
      height="260"
      src="https://www.youtube.com/embed/a7UB091GKKI"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <iframe
      width="400"
      height="260"
      src="https://www.youtube.com/embed/daRyNsXOvus"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <iframe
      width="400"
      height="260"
      src="https://www.youtube.com/embed/p65dzX33nvQ"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <div class="tut-hld">
    <iframe
      width="400"
      height="260"
      src="https://www.youtube.com/embed/PwpIo5sQbXw"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <iframe
      width="400"
      height="260"
      src="https://www.youtube.com/embed/SlvcmCNqw4Y"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <iframe
      width="400"
      height="260"
      src="https://www.youtube.com/embed/ZXERr9IzMTY"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</section>
